/* Application: Pizza Order
* File Name: styles.css
* Programmer: Ryan Jones
* Version: 03/03/2017
*/

body {
 
}

/*** Jumbotron ***/

.jumbotron img {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.jumbotron h1 {
  padding-top: 35px;
  font-size: 5em;
  margin-left: auto;
  margin-right: auto;
}

/*** Toppings ***/

.toppings footer {
  padding-left: 10px;
  margin-top: -8px;
  padding-bottom: 20px;
}

.toppings ul {
  list-style-type: none;
}

/*** Size ***/

.size select {
  margin-bottom: 10px;
}

.size h4 {
  padding-left: 25px;
}

.size ul {
  list-style-type: none;
  margin-left: -9px;
  padding-bottom: 10px;
}

#ulSizes {
  list-style-type: none;
}

/*** Submit ***/
.submit-div ul {
  list-style-type: none;
  margin-right: 20px;;
}

.submit-div li {
  display: inline;
}

/*** Footer ***/
.footer {
  text-align: center;
}

.footer footer {
  font-size: 17px;
}

/*** Modal ***/
.modal ul {
  list-style-type: none;
}

.modal h4 {
  margin-left: 40px;
}

.modal ul.ulToppings {
  list-style-type: square;
}


.modal-title {
  text-align: center;
}


.total {
  display: none;
}

#confirmPurchase {
  display: none;
}

.receipt {
  display: none;
}