/* Application: Pizza Order
* File Name: styles.css
* Programmer: Ryan Jones
* Version: 03/03/2017
*/

.total {
  display: none;
}

#confirmPurchase {
  display: none;
}

.receipt {
  display: none;
}